{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 3,
      "exclude": ["proposal-dynamic-import"],
      "targets" : { "node" : "current" }
    }]
  ],
  "plugins": [
    "babel-plugin-add-module-exports",
    "babel-plugin-class-display-name",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}